.f-wrapper {
    background: rgb(231, 231, 231);
}

.f-container {
    gap: 20rem;
}

.f-logo img {
    height: 10rem;
}

h3 {
    font-size: 1.5rem;
    color: blueviolet;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.f-left span {
    font-weight: 700;
    color: brown;
    cursor: pointer;
}

.f-right span {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.copyright{
    font-size: 0.8rem;
    font-weight: 700;
}